<footer class="bg-dark p-5 container-fluid">
    <div class="row align-items-center text-center">
        <div class="col-lg">
            <a class="mx-2" href="https://www.facebook.com/idoLearner"><i class="fa-brands fa-facebook con-icon"></i></a>
            <a class="mx-2" href=""><i class="fa-solid fa-at con-icon"></i></a>
            <a class="mx-2" href=""><i class="fa-brands fa-discord con-icon"></i></a>
            <a class="mx-2" href=""><i class="fa-brands fa-yahoo con-icon"></i></a>
            <p class="text-secondary">Created by: Jerico Olobia</p>
            <p class="text-secondary ">made with <i class="fa-solid fa-heart"></i></i></p>	
        </div>
    </div>
</footer>